<div class="accessibilityMenu">
    <label class="accessibilityIcon">
        <input type="checkbox" id="menu">
        <img src="/images/accessibility.png">
    </label>
    <div class="accessibilityContent">
        <ul>
            <li>
                <label>
                    <input type="checkbox" id="toggle-darkmode">
                    Dark Mode
                </label>
            </li>
            {% comment %} not used anymore {% endcomment %}
            {% comment %} <li>                        
                <label>
                    <input type="checkbox" id="reducedMotion" onclick = "reducedMotion()">
                    Reduced Motion
                </label>
            </li> {% endcomment %}
            <li>                        
                <label>
                    <input type="checkbox" id="font-size">
                    Grotere Letters
                </label>
            </li>
            <li id="google_translate_element">Vertaal de site
                
            </li>
        </ul>
    </div>
</div>