<a 
    href="{{ button.url }}" 
    class="button"
    aria-label="{{ button.aria }}"
>
    {{ button.text }}
    <svg width="20" height="21" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.5777 8.06697L4.84296 0.959223C2.84327 -0.15688 0.380859 1.28875 0.380859 3.57882V17.4712C0.380859 19.7354 2.79319 21.1835 4.79146 20.1189L17.5262 13.3342C19.622 12.2177 19.6512 9.22431 17.5777 8.06697Z"/>
    </svg>  
</a>