<section class="card" data="card">
  <article>
    <h2>
      {{ card.title }}
    </h2>
    {{ card.content }}
    {% include "partials/button.liquid"
      , button: card.button %}
  </article>
  <div 
    class="card-image-container" 
    style="--background-image: url('{{ card.image.src }}')"
  >
  </div>
</section>