<header>
  <nav>
    <a class="logo" href="/">
      <img src="/images/logo.png" alt="logo">
    </a>
    <button id="hamburger" aria-label="Menu openen">
      <div class="cross"></div>
      <div id="middle">
        <div></div>
        <div></div>
      </div>
      <div class="cross"></div>
    </button>
    <ul>
      <li><a href="/stekjes">Stekjes</a></li>
      <li><a href="/zaden">Zaden</a></li>
      <li><a href="/geveltuin">Geveltuin</a></li>
      <li><a href="/agenda">Agenda</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>