
  <header>
    <nav>
      <a class="logo" href="/">
        <img src="./images/logo.png" alt="logo">
      </a>
      <ul>
        <li><a href="/stekjes">stekjes</a></li>
        <li><a href="/zaden">zaden</a></li>
        <li><a href="/geveltuin">geveltuin</a></li>
        <li><a href="/partners">partners</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
      <button>klik</button>
    </nav>
  </header>
