<header>
  {% comment %} {% include "partials/nav.liquid" %} {% endcomment %}
  <h2>{{ pageData.title }}</h2>
  <h3>{{ pageData.subtitle }}</h3>
  <div class="image-slider" id="imageSlider">
    {% for slide in pageData.sliderImages %}
      <div class="slide" style="--background-image: url('{{ slide.src }}')"></div>
    {% endfor %}
  </div>
</header>