<section class="image-slider-section">
  <h1>{{ pageData.title }}</h1>
  <h2>{{ pageData.subtitle }}</h2>
  <div class="image-slider" id="imageSlider">
    {% for slide in pageData.sliderImages %}
      <div class="slide" style="--background-image: url('{{ slide.src }}')"></div>
    {% endfor %}
  </div>
</section>