body {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0;
    overflow: hidden;
    background: white;
    width: 100vw;
    height: 100vh;
}

.sneeuw {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* volkjes */

.vlok {
    position: absolute;
    bottom: 100%;
    width: 20px;
    height: 20px;
    background: rgb(242, 170, 255);
    border-radius: 50%;
    opacity: 0.5;
    animation: fall linear infinite;
}

/* vallen van de vlokken */

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.random{
    width: 40dvw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: blueviolet;
    z-index: 1;
}