.regen {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

/* druppel regen */

.druppel {
    position: absolute;
    bottom: 100%;
    width: 1px;
    height: 50px;
    background: rgb(144, 144, 153);
    opacity: 0.5;
    animation: fall linear infinite;
}

/* vallen van de regen */

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.random{
    width: 40dvw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: blueviolet;
    z-index: 1;
}