<html lang="nl-NL">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href={{ weatherCSS }}>
    <link rel="icon" type="image/x-icon" href="">

    <title> Bieb in Bloei
        {% if pageTitle %}
        | {{ pageTitle }}
        {% endif %}
    </title>
</head>

<body class="viernulvier">
    {% include "components/harry.liquid" %}
    <h1>{{ fout }}</h1>
    <p>{{ reden }}</p>
    <div>
        <a class="button" href="/">Terug naar de homepage
            <svg width="20" height="21" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M17.5777 8.06697L4.84296 0.959223C2.84327 -0.15688 0.380859 1.28875 0.380859 3.57882V17.4712C0.380859 19.7354 2.79319 21.1835 4.79146 20.1189L17.5262 13.3342C19.622 12.2177 19.6512 9.22431 17.5777 8.06697Z" />
            </svg>
        </a>
    </div>



</body>

</html>