{% layout "layouts/base.liquid" %}

{% block content %}
  {% for card in cardData %}
    {% include "partials/card.liquid"
      , {card} %}
  {% endfor %}

  {% for item in agendaData %}
    {% include "partials/card.liquid"
      , {item} %}
  {% endfor %}


  <section>
    <h2>Buurtcampus
      <span>Oost</span>
    </h2>
    <p>
      De Buurtcampus-Oost heeft als doel Amsterdam-Oost duurzamer,    
        inclusiever en gezonder te maken. Bieb & Bloei Amsterdam zorgt ervoor dat 
        plantenliefhebbers elkaar ontmoeten in de bibliotheek. 
        Daarnaast hebben planten in huis een positief effect op je lichamelijke en geestelijke 
        gezondheid.
    </p>
    <p>
      Veel mensen weten niet goed hoe ze voor planten moeten zorgen en    
        kopen nieuwe als ze dood gaan. In het kader van duurzaamheid, gezondheid en meer 
        sociale connectie, is Bieb & Bloei Amsterdam een plek van sociale ontmoeting, 
        waar mensen samen leren over planten.
    </p>
  </section>

  <section>
    <h2>Agenda</h2>
    {% comment %} for each agenda item {% endcomment %}
    <article>
      <h3>Agenda item</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.    
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
      <a href="/agenda">Meld je aan</a>
    </article>
  </section>

  <section>
    <h2>Partners</h2>
    <p>
      Samenwerking HvA en OBA   

        Bieb & Bloei is een initiatief van de Hogeschool van Amsterdam (HvA) 
        en de Openbare Bibliotheek Amsterdam (OBA). 
        In de projecten van Buurtcampus Oost benutten we de kennis en creativiteit van 
        de studenten en de locaties en publieksprogramma’s van de bibliotheek.
    </p>
  </section>

{% endblock %}