{% layout "layouts/base.liquid" %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/">KLIK HIEROP</a>

    {% comment %} <script type="text/javascript" src="./js/page-transition.js"></script> {% endcomment %}
{% endblock %}