{% layout "layouts/base.liquid" %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/page-transition">KLIK HIEROP</a>

    <script type="text/javascript" src="./js/page-transition.js"></script>
{% endblock %}