{% layout "layouts/base.liquid" %}

{% block content %}
  {% include "partials/hero.liquid" %}
  <section class="stekjes-section">
    <h2 class="smaller"> Ontdek de vreugde van tuinieren met onze populaire 
        <span class="invert">zadencollectie</span>
    </h2>
    <div class="stekjes">
      {% for zaad in zadenData %}
        {% include "components/stekjes-card.liquid"
          , stekje: zaad %}
      {% endfor %}
    </div>
  </section>

  {% for card in zadenKastInfo %}
    {% include "partials/card.liquid"
      , { card } %}
  {% endfor %}
{% endblock %}