:root {
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: bisque;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	justify-content: space-around;
}

/* remove bullet points */
ul {
	list-style-type: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;

	h3 {
		text-transform: uppercase;
	}
    article{
        display: flex;
        flex-direction: column;
    }
}
