body {
    position: relative;
    display: grid;
    place-items: center;
    margin: 0;
    overflow: hidden;
    background: #0c0c0c;
    width: 100vw;
    height: 100vh;
}

.bloesem {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* druppel regen */

.blaadje {
    position: absolute;
    bottom: 100%;
    width: 30px;
    height: 20px;
    background-image: linear-gradient(to right, pink 20%, hotpink 80% 100%);
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 25% 50%, 0% 0%);
    border-radius: 50%;
    opacity: 0.5;
    animation: fall linear infinite;
}

/* vallen van de regen */

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes dwarrelen {
    0%{
        transform: transalte();
    }
    50%{

    }
    100%{

    }
}

.random{
    width: 40dvw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: blueviolet;
    z-index: 1;
}