<html lang="nl-NL">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/global.css">
    <link
      rel="icon"
      type="image/x-icon"
      href="">

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript" src="/js/google-translate.js"></script>
    <script type="text/javascript" src="/js/transparent-card.js"></script>
    <script type="text/javascript" src="/js/image-slider.js"></script>
    <script type="text/javascript" src="/js/header.js"></script>

    <title>
      {{ siteTitle }}
    </title>
    {% block head %}
    {% endblock %}
  </head>

  <body class="scroll scroll-vertical">
    {% include "partials/header.liquid" %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% include "partials/footer.liquid" %}

    <script type="text/javascript" src="/js/seasons.js"></script>
    <script>
            window.sunStatus = "{{ is_sun_up }}";
    </script>
    <script type="text/javascript" src="/js/sun-moon-hover.js"></script>
    <script type="text/javascript" src="/js/tips.js"></script>
  </body>
</html>