.accessibilityMenu {
    width: calc(13rem + 5rem);
    height: 300px;
    position: fixed;
    top: 20vh;
    left: -208px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    transition: left .3s;
}

.accessibilityMenu:has(.accessibilityIcon input:checked) {
    transition: left .3s;
    left: 0px;
}

.accessibilityContent {
    width: 13rem;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 0px 0px 10px 0px;
}

.accessibilityContent ul li {
    margin: .2rem 0rem .2rem .4rem
}

.accessibilityIcon {
    width: 4rem;
    height: 4rem;
    background-color: var(--background-color);
    border-radius: 0px 10px 10px 0px;
    margin: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.accessibilityIcon label img {
    width: 4rem;
    align-self: center;
}

input[type="checkbox"][id^="menu"] {
    display: none;
}

.darkMode {
    background-color: Canvas;
    color: CanvasText;
}

body:has(.accessibilityMenu div ul li:nth-of-type(1) label input[type=checkbox]:checked) {
    background-color: Canvas;
    color: CanvasText;
}

.accessibilityMenu:has(div ul li:nth-of-type(1) label input[type=checkbox]:checked) > * {
    background-color: Canvas;
    color: CanvasText;
}

@media (prefers-reduced-motion) {
    .accessibilityMenu {
        transition: left 0s;
    }
    
    .accessibilityMenu:has(.accessibilityIcon input:checked) {
        transition: left 0s;
    }

    .header {
        transition: 0s;
    }

    nav ul {
        transition: 0s;
    }

    nav ul li {
        transition: 0s;
    }

    header.menuOpen nav ul {
        transition: 0s;
    }

    header.menuOpen nav ul li {
        transition: 0s;
    }

    #hamburger div {
        transition: 0s;
    }

    nav ul li:hover {
        transform: scale(1);
    }
}

/* not used anymore */
.reduced-motion > * {
    animation: none;
    transition: 0s;
    transform: scale(1)
}

:root{
    --font-size: 1rem;
    --button-icon: "➕";
}

p{
    font-size: var(--font-size);
}

/* #font-size{
    display: none;
}

label:has(#font-size){
    position: relative;
    display: block;
    height: 2rem;
    width: 2rem;
    background-color: #85effa;
    border-radius: 1rem;
}

label:has(#font-size)::before{
    content: var(--button-icon);
    position: absolute;
    top: 51%;
    left: 48%;
    transform: translate(-50%, -50%);
} */

/* if checkbox is checked */
html:has(#font-size:checked){
    --font-size: 2rem;
    /* --button-icon: "➖"; */
}

html:has(#font-size:checked) > body main section .button {
    font-size: 2rem;
    /* --button-icon: "➖"; */
}

html:has(#font-size:checked) > body main section article h4 {
    font-size: 2rem;
}

html:has(#font-size:checked) > body footer article p {
    font-size: 2rem;
}

html:has(#font-size:checked) > body footer article a {
    font-size: 2rem;
}

html:has(#font-size:checked) > body header nav ul li a {
    font-size: 2rem;
}