.viernulvier {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
    height: 100vh;
	width: 100%;

	div {
		display: flex;
		justify-content: left;
		width: 21.5rem;
	}

	&:hover {
		background-color: white;
	}

	.button {
		background-color: var(--primary-color);
		color: var(--secondary-color);
		transition: 200ms;
		transform-origin: left;
		svg {
			fill: var(--secondary-color);
		}

		&:hover {
			padding-right: 2rem;

			svg {
				transform: translateX(0.8rem);
			}
		}
	}
}
