footer {
	background-color: var(--secondary-color);
	padding: var(--v-padding-medium) var(--h-padding-small) var(--v-padding-small);
	display: flex;
	flex-direction: column;
	align-items: center;

	div:nth-of-type(1) {

		color: var(--primary-color);
		background-color: var(--secondary-color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
		padding-bottom: var(--v-padding-medium);

		p,
		a {
			margin: 0;
			font-size: calc(var(--font-size-paragraph) * 0.8);
		}

		h3 {
			font-family: var(--font-family-alternative);
			text-transform: uppercase;
			margin-bottom: .8em;
		}

		article {
			min-width: min-content;
		}
	}

	div:nth-of-type(2) {
		margin-top: var(--margin-small);
		display: flex;
		flex-direction: column;
		padding: 1rem;
		background-color: var(--primary-color);
		border-radius: 17px;
		gap: 1rem;
		align-items: center;
		color: var(--secondary-color);
		width: 100%;

		div{
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0;
	
		background-color: transparent;
			svg {
				height: 3rem;
				fill: var(--secondary-color);
			}
		}
	}
}

@media (min-width: 1000px) {
	footer {
		padding: var(--v-padding-medium) var(--h-padding-large) var(--v-padding-small);

		article {
			max-width: 25%;
		}
	}

	footer div:nth-of-type(1) {
		flex-direction: row;
		max-width: 33ch;
		gap: 6rem;
	}

	footer div:nth-of-type(2) {
		width: max-content;	
		flex-direction: row;
		div{
			justify-content: center;
		}
	}
}