footer {
	background-color: var(--secondary-color);
	padding: var(--v-padding-medium) var(--h-padding-large) var(--v-padding-medium);
	display: flex;
	flex-direction: column;
	align-items: center;
	
	div:nth-of-type(1) {
		
		color: var(--primary-color);
		background-color: var(--secondary-color);
		display: flex;
		justify-content: center;
		gap: 6rem;
		padding-bottom: var(--v-padding-medium);

		p, a {
			max-width: 33ch;
			margin: 0;
			font-size: calc(var(--font-size-paragraph) * 0.8);
		}
	
		h3 {
			font-family: var(--font-family-alternative);
			text-transform: uppercase;
			margin-bottom: .8em;
		}
	
		article {
			min-width: min-content;
			max-width: 20%;
		}
	}

	div:nth-of-type(2) {
		margin-top: var(--margin-small);
		display: flex;
		width: max-content;
		padding: 1rem;
		background-color: var(--primary-color);
		border-radius: 17px;
		gap: 1rem;
		align-items: center;
		color: var(--secondary-color);
	
		svg {
			height: 3rem;
			fill: var(--secondary-color);
		}
	}
}