footer {
	padding: var(--v-padding-medium) var(--h-padding-large) var(--v-padding-large);
	color: var(--primary-color);
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	gap: 6rem;

	p, a {
		max-width: 33ch;
        margin: 0;
		font-size: calc(var(--font-size-paragraph) * 0.8);
	}

	h3 {
		font-family: var(--font-family-alternative);
		text-transform: uppercase;
		margin-bottom: .8em;
	}

	article {
		min-width: min-content;
		max-width: 20%;
	}
}
