@import 'header.css';
@import 'footer.css';
@import 'button.css';
@import 'card.css';
@import 'agenda.css';
@import 'scroll-bar.css';
@import 'google-translate-button.css';
@import 'buurtcampus.css';
@import 'transparent-card-test.css';
@import 'partners.css';
@import 'image-slider.css';
@import 'stekjes.css';
@import 'link-block.css';
@import 'harry.css';
@import 'stekje.css';
@import 'hero.css';
@import 'page-transition.css';
@import 'accessibility-menu.css';

/* import poppins black and medium */

@font-face {
	font-family: 'Poppins Medium';
	src: url(../fonts/Poppins-Medium.ttf);
	type: truetype;
}

@font-face {
	font-family: 'Poppins Black';
	src: url(../fonts/Poppins-Black.ttf);
	type: truetype;
}

@font-face {
	font-family: 'Poppins Bold';
	src: url(../fonts/Poppins-Bold.ttf);
	type: truetype;
}

:root {
	--v-padding-small: 2rem;
	--v-padding-medium: 4rem;
	--v-padding-large: 10rem;

	--h-padding-small: 2rem;
	--h-padding-medium: 4rem;
	--h-padding-large: 10rem;

	--margin-small: 2rem;
	--margin-medium: 4rem;
	--margin-large: 6rem;

	--font-size-h1: clamp(3rem, 8vw ,8rem);
	--font-size-h2: clamp(2rem, 6vw ,6rem);
	--font-size-h3: clamp(1.6rem, 2.5vw ,3rem);
	--font-size-h4: clamp(1.2rem, 1.5vw ,1.8rem);
	--font-size-p: clamp(1rem, 2vw, 1.2rem);
	--font-family-headings: 'Poppins Black', Arial black, sans-serif;
	--font-family-alternative: 'Poppins Bold', Arial bold, sans-serif;
	--font-family-text: 'Poppins Medium', Arial , sans-serif;

	--primary-color: #3C593E;
	--secondary-color: #F9E9C2;
	--tertiary-color: #FF9A41;
	--quaternary-color: #491B02;

	--background-color: #fff;
	--leaf-image: url(../images/zomer-blad.svg);
	--leaf-pattern: url(../images/summer-pattern.svg);
}

.spring {
	--primary-color: #265010;
	--secondary-color: #F7FFC3;
	--tertiary-color: #D4EF31;
	--quaternary-color: #261E00;
	--leaf-image: url(../images/lente-blad.svg);
	--leaf-pattern: url(../images/spring-pattern.svg);
}

.summer {
	--primary-color: #2B4021;
	--secondary-color: #FFDEF0;
	--tertiary-color: #FA89B9;
	--quaternary-color: #1F000D;
	--leaf-image: url(../images/zomer-blad.svg);
	--leaf-pattern: url(../images/summer-pattern.svg);
}

.fall {
	--primary-color: #3C593E;
	--secondary-color: #F9E9C2;
	--tertiary-color: #FF8D06;
	--quaternary-color: #491B02;
	--leaf-image: url(../images/herfst-blad.svg);
	--leaf-pattern: url(../images/fall-pattern.svg);
}

.winter {
	--primary-color: #304849;
	--secondary-color: #E5EFFF;
	--tertiary-color: #A9A2F9;
	--quaternary-color: #03002B;
	--leaf-image: url(../images/winter-blad.svg);
	--leaf-pattern: url(../images/winter-pattern.svg);
}

html{
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family-text);
	font-size: var(--font-size-paragraph);
	z-index: 1;
	color-scheme: light dark;
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--font-family-headings);
	line-height: 1.1;
	text-transform: capitalize;
}

h1{
	font-size: var(--font-size-headings);
	z-index: 1;
}

h2{
	font-size: var(--font-size-h2);
	margin-bottom: .8em;
}

h2.smaller{
	font-size: var(--font-size-h3);
}

h3{
	font-size: var(--font-size-h3);
}

h4{
	font-size: var(--font-size-h4);
}

h5{
	font-size: var(--font-size-h5);
}

p{	
	font-size: var(--font-size-p);
	min-width: 10ch;
	max-width: 75ch;
	margin: 1rem 0;
}

.email,
.tel {
		white-space: nowrap;
	}