@import 'header.css';
@import 'footer.css';
@import 'button.css';
@import 'card.css';
@import 'agenda.css';
@import 'scroll-bar.css';
@import 'google-translate-button.css';
@import 'transparent-card-test.css';
@import 'agenda.css';
@import 'scroll-bar.css';
@import 'partners.css';

/* import poppins black and medium */

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Medium.ttf);
	type: truetype;
}

@font-face {
	font-family: 'Poppins';
	src: url(../fonts/Poppins-Black.ttf);
	font-weight: 900;
	type: truetype;
}

:root {
	--padding-small: 2rem;
	--padding-medium: 4rem;
	--padding-large: 6rem;

	--margin-small: 2rem;
	--margin-medium: 4rem;
	--margin-large: 6rem;

	--font-size-small: 1rem;
	--font-size-medium: 5rem;
	--font-size-large: clamp(3rem, 10vw ,9rem);

	--font-family: 'Poppins';

	--primary-color: #3C593E;
	--secondary-color: #F9E9C2;
	--tertiary-color: #FF9A41;
	--quaternary-color: #491B02;

	--background-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	font-family: var(--font-family);
}

.spring {
	--color-primary: #2B4021;
	--color-secondary: #FFDEF0;
	--color-tertiary: #FA89B9;
	--color-quaternary: #1F000D;
}

.summer {
	--color-primary: #265010;
	--color-secondary: #F7FFC3;
	--color-tertiary: #D4EF31;
	--color-quaternary: #261E00;
}

.fall {
	--color-primary: #3C593E;
	--color-secondary: #F9E9C2;
	--color-tertiary: #FF8D06;
	--color-quaternary: #491B02;
}

.winter {
	--color-primary: #304849;
	--color-secondary: #E5EFFF;
	--color-tertiary: #A9A2F9;
	--color-quaternary: #03002B;
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
