.image-slider-section {
	height: calc(100vh + var(--margin-small));
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	color: white;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .8), transparent);
	overflow-x: hidden;

	h2{
		font-size: calc(var(--font-size-headings) * 0.3);
		font-family: var(--font-family-alternative);
	}
}

.image-slider {
    --translateX: 0;
 
    display: flex;
    position: absolute;
    z-index: -1;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background-image);
    transition: transform 1s ease-in-out;
    transform: translateX(calc(var(--translateX) * -1%));
}

.slide {
	background-image: var(--background-image);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100vw;
	flex-shrink: 0;
}

.image-slider.sliding {
	transition: transform 2s ease-in-out;
}