.link-block{
    display: grid;
    padding: var(--h-padding-small);
    grid-template-columns: 30rem;
    grid-template-rows: 2.5rem 2.5rem 2.5rem 1fr;
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
    background-image: linear-gradient(180deg,rgb(27, 27, 27),transparent), var(--background-image);
    text-decoration: none;
    color: white;
}

.link-block p{
    margin: 0;
}

.link-block .button {
    pointer-events: none;
    grid-column: 1;
    grid-row: 4;
    justify-self: end;
    align-self: flex-end;
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);

    svg{
        fill: var(--quaternary-color);
    }
}