.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        background-color: aqua;
    }

    100% {
        background-color: white;
    }
}

@keyframes fade-out {
    0% {
        background-color: white;
    }

    100% {
        background-color: aqua;
    }
}


