.partners {
    padding: var(--v-padding-large) var(--h-padding-large);
    background-color: var(--primary-color);
    height: auto;
    justify-content: center;
}

.partners{
    color: white;
}

.partners > div {
    margin-top: var(--margin-small);
    display: flex;
    width: min-content;
    padding: 1rem;
    background-color: var(--tertiary-color);
    border-radius: 17px;
    gap: 1rem;
    align-items: center;
}

.partners > div svg {
    height: 5rem;
    fill: white;
}