.partners {
    padding: var(--v-padding-large) var(--h-padding-large);
    background-color: #3C593E ;
    height: auto;
    padding-left: 204px;
    justify-content: center;
}

.partners{
    color: white;
}

.partners > div {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--tertiary-color);
    padding: .5rem 1rem;
    width: auto;
    border-radius: 17px;
}

.partners > div img {
    height: 56px;
}