.stekjes{
    display: grid;
    gap: 3rem;
    padding: 3rem;
    padding-bottom: var(--v-padding-large);
    grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
}

.link-block.stek-item{
    height: 60vh;
    grid-template-columns: 1fr;
}