.plantinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--margin-small);
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

#info article{
    width: 50rem;
}

#general{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap: 2rem;

    img{
        border-radius: 5rem;
    }
}

#care{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--margin-small);
    border-radius: 5rem;
}

#care div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}