#plant{
    background-color: var(--tertiary-color);
    margin-bottom: var(--margin-large);
}

#general {
    color: var(--quaternary-color);

    p {
        margin-top: 0;
    }
}

#weertips{
    display: flex;
    justify-content: center;
}

#weertips div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


#care{
    margin-bottom: var(--margin-large);
    color: var(--quaternary-color);
    padding-left: calc(var(--margin-small) + var(--h-padding-large));
    display: flex;
    justify-content: left;
    position: relative;
    h2{
        margin-bottom: 1rem;
    }
}

#care div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    h3{
        margin-top: 1rem;
    }
    p {
        margin: 0 0;
    }
}


