{% layout "layouts/base.liquid" %}

{% block content %}
  <section class="card">
    <article>
      <h2>Onze Stekjes Bieb</h2>
      <p>
        Bij Buurtcampus Oost kun je de stekjeskast bezoeken om stekjes te ruilen,  
            je kunt ook op onze website inzien welke stekjes beschikbaar zijn. 
            Dit is een geweldige manier voor plantenliefhebbers om met elkaar in 
            contact te komen en planten te delen.
      </p>
      <p>
        Het maakt het gemakkelijk om je favoriete stekjes te vinden en  
            te ruilen met anderen in de buurt, zonder gedoe. Kom langs bij 
            Buurtcampus Oost en ontmoet mede-plantenliefhebbers!
      </p>
      <a href="/stekjes">Lees meer</a>
    </article>
    <div class="card-image-container">
      <img src="" alt="">
    </div>
  </section>

  <section class="card">
    <article>
      <h2>Onze Zaden Bieb</h2>
      <p>
        Bij Buurtcampus Oost kun je de zadenkast bezoeken om zaadjes  
        te kunnen ruilen, je kunt ook op onze website inzien welke stekjes beschikbaar zijn. 
        Dit is een geweldige manier voor plantenliefhebbers om met elkaar in contact te
        komen en planten te delen.
      </p>
      <p>
        Het maakt het gemakkelijk om je favoriete stekjes te vinden en te  
        ruilen met anderen in de buurt, zonder gedoe. Kom langs bij Buurtcampus Oost 
        en ontmoet mede-plantenliefhebbers!
      </p>
      <a href="/zaden">Lees meer</a>
    </article>
    <div class="card-image-container">
      <img src="" alt="">
    </div>
  </section>

  <section class="card">
    <article>
      <h2>Onze Geveltuinen</h2>
      <p>
        Bij Buurtcampus Oost kan je deelnemen aan de geveltuin projecten. 
        Het geveltuinproject is een geweldige manier om je steentje bij te dragen aan een mooier, 
        groener en socialer Amsterdam. Of je nu een ervaren tuinier bent of nog nooit 
        met een plant hebt gewerkt, er is altijd een plek voor je in ons team.         
      </p>
      <p>
        We leren je alles wat je moet weten en zorgen voor de benodigde materialen.
        Meld je aan vandaag nog!
      </p>
      <a href="/geveltuin">Lees meer</a>
    </article>
    <div class="card-image-container">
      <img src="" alt="">
    </div>
  </section>

  <section>
    <h2>Buurtcampus <span>Oost</span></h2>
    <p>
        De Buurtcampus-Oost heeft als doel Amsterdam-Oost duurzamer, 
        inclusiever en gezonder te maken. Bieb & Bloei Amsterdam zorgt ervoor dat 
        plantenliefhebbers elkaar ontmoeten in de bibliotheek. 
        Daarnaast hebben planten in huis een positief effect op je lichamelijke en geestelijke 
        gezondheid. 
    </p>
    <p>
        Veel mensen weten niet goed hoe ze voor planten moeten zorgen en 
        kopen nieuwe als ze dood gaan. In het kader van duurzaamheid, gezondheid en meer 
        sociale connectie, is Bieb & Bloei Amsterdam een plek van sociale ontmoeting, 
        waar mensen samen leren over planten.
    </p>
  </section>

  <section>
    <h2>Agenda</h2>
    {% comment %} for each agenda item {% endcomment %}
    <article>
        <h3>Agenda item</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        <a href="/agenda">Meld je aan</a>
    </article>
  </section>

  <section>
    <h2>Partners</h2>
    <p>
        Samenwerking HvA en OBA

        Bieb & Bloei is een initiatief van de Hogeschool van Amsterdam (HvA) 
        en de Openbare Bibliotheek Amsterdam (OBA). 
        In de projecten van Buurtcampus Oost benutten we de kennis en creativiteit van 
        de studenten en de locaties en publieksprogramma’s van de bibliotheek.
    </p>
  </section>

{% endblock %}