{% layout "layouts/base.liquid" %}

{% block content %}

<div class="card-1">
    <img class="transparent-1" src="./pictures/transparent-design-test.jpg">
    <img class="image-1" src="./pictures/voorbeeld-stekje.png">
    <p class="title-1">Monstera Adansonii</p>
</div>

<div class="card-2 animation-1">
    <div class="overlay"></div>
    <img class="transparent-2" src="./pictures/transparent-design-test.jpg">
    <img class="image-2" src="./pictures/voorbeeld-stekje.png">
    
    <p class="title-2">Monstera Adansonii</p>
</div>

<div class="card-3 animation-2">
    <div class="overlay"></div>
    <img class="transparent-2" src="./pictures/transparent-design-test.jpg">
    <img class="image-2" src="./pictures/voorbeeld-stekje.png">
    
    <p class="title-2">Monstera Adansonii</p>
</div>

{% endblock %}